*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
.container{
}
.top-image{
    background-image: url("../images/illustration-sign-up-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.body{
    padding-left: 1.5rem;
    padding-right: 2rem;
    font-size: 16px;

}

.body h1{
    font-size: 2.5rem;
}

.update{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: start;
    margin-top: 1.5rem;
}

.update img{
    /* margin-right: .5rem; */
}

.below-header{
    line-height: 1.5rem;
}

.update p{
    padding: 0;
    margin-top: 0;

}

.email-input{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.email-input label{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: .4rem;
}

.email-input input{
    text-indent: 10px;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid hsl(231, 7%, 60%);
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.email-input button{
    text-indent: 10px;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: 0px solid hsl(231, 7%, 60%);
    margin-bottom: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    background-color: hsl(234, 29%, 20%);
    cursor: pointer;

}

.email-input button:hover{
    background-color: hsl(4, 100%, 67%);
    box-shadow: 0px 8px 22px hsl(4, 100%, 67%);
}